header {
    font-family: sans-serif
    background  () 
}   
body { 
margin:20px 80px 20px 80px;
}

    

    p {
 color:rgb(147, 111, 98);     
font-size: 12px;
font-weight: bold    
}

.try-our {
    position: relative;
left: 1030px;
bottom: 20px;
}
.menu {
    position: relative;
    left: 500px;
    
}
    p {
 color:rgb(147, 111, 98);     
font-size: 12px;
font-weight: bold  
}
.fone-foto {
    background-image:url(img/div-class-banner.webp);
    
}
